{% extends "video_reader/base.html" %}
{% block content %}
    <div class="row" id="mainrow" height=100%>
        {% load static %}
        <div class="col">
            <Video id ="downloaded_video" width = 80% controls autoplay>
                <source src="{% static downloaded %}" type = "video/mp4">
            </Video>
        </div>
        <div class="col">
            <Video id ="processed_video" width = 80% controls autoplay>
                <source src="{% static processed %}" type = "video/mp4">
            </Video>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}