<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/styles.css">-->
    <title>Dance Video Analyzer</title>
</head>
<body>
    <div id = "top_bar">
        <a href="">
            <img id = "top_bar_image" src="" alt="">
        </a>
    </div>
    <div id = "ad_space_left"></div>
    <div id = "content">
        {% block content %} {% endblock %}
    </div>
    <div id = "ad_space_right"></div>
    <!--<script src="../../../static/app.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>