{% extends "video_reader/base.html" %}
{% block content %}
    <h1>URL Received</h1>
    {% autoescape off %}
        {{ html }}
    {% endautoescape %}
{% endblock %}

{% block javascript %}
    $(document).ready(function(){
        //AJAX GET
        $.ajax({ 
            type:"GET",
            url:""//PUT URL TO VIDEO PROCESSING URL
            data:"" //FIND OUT HOW TO PUT VIDEO DATA
            success: function(data){
                //DETERMINE HOW TO DISPLAY PROCESSCED VIDEO
            }
        });
    });
{% endblock %}