{% extends "video_reader/base.html" %}
{% block content %}
    <div class="row" height="100%">
        {% load static %}
        <div class="col">
            <video class="video" width="384" height="683" controls autoplay loop>
                <source src="{% static 'temp_videos/downloaded_video.mp4' %}" type="video/mp4">
            </video>
        </div>
        <div class="col">
            <video class="video" width="384" height="683" controls autoplay loop>
                <source src="{% static 'temp_videos/processed_video.mp4' %}" type="video/mp4">
            </video>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}